<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>{{ p.name }}</title>
    </head>
    <body>
        <h2>{{ p.name }}</h2>
        <hr>
        <table width=400 border=1 bgcolor='#ccffcc'>
            <tr><td>ID</td><td>{{ p.sku }}</td></tr>
            <tr><td>Name</td><td>{{ p.name }}</td></tr>
            <tr><td>Price</td><td>{{ p.price }}</td></tr>
            <tr><td>Size</td><td>{{ p.size }}</td></tr>
        </table>
        <a href='/list'>Return to List</a>
    </body>
</html>